$myColor1: orange;
$myColor2: gray;
$myStringVar: " with an appended string";
$myFontSize: 18px;
$thinBorder: 1px solid $myColor1;
$paddingVar: 15px 15px 15px 15px;
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    #wrapper {
        min-height: 100%;
        position: relative;
        #header {
            background: lighten($myColor2, 20%);
            padding: 10px;
        }
        #content {
            padding-bottom: 100px;
            /* Height of the footer element */
            #results {
                p {
                    &:hover {
                        color: red;
                    }
                }
            }
        }
        #footer {
            background: $myColor1;
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}