html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html #wrapper,
body #wrapper {
  min-height: 100%;
  position: relative;
}

html #wrapper #header,
body #wrapper #header {
  background: #b3b3b3;
  padding: 10px;
}

html #wrapper #content,
body #wrapper #content {
  padding-bottom: 100px;
  /* Height of the footer element */
}

html #wrapper #content .fileSection,
body #wrapper #content .fileSection {
  width: 100%;
  min-height: 100px;
}

html #wrapper #content .fileSection p,
body #wrapper #content .fileSection p {
  color: gray;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

html #wrapper #content .fileSection p:hover,
body #wrapper #content .fileSection p:hover {
  color: black;
}

html #wrapper #content #results p:hover,
body #wrapper #content #results p:hover {
  color: red;
}

html #wrapper #footer,
body #wrapper #footer {
  background: orange;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
